@media (max-width: 1440px) {
    .page {width: 1024px;
    }
    
}

@media (max-width: 1024px) {
    .page {width: 768px;
        overflow: hidden;
        position: relative;
        height: 100%;  
    }
    .section {
        width: 100%;
    }
    .container-head{
        display: flex;
        width: 768px;
        height: 90px;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .icon-profile{
        z-index: 1; 
    }
    .nav-header{
        position: absolute;
        top: 0;
        right: -332px;
        width: 332px;
        height: 570px;
        background: rgb(0, 0, 0); 
        visibility: hidden;
        z-index: 1;
        text-align: center;
        padding: 100px 0px 0px 0px;
        transition: transform .5s, visibility .5s;/* меню выдвигается плавно*/
    }
    .burger-menu>span {
        position: absolute;
        width: 45px;
        height: 2px;
        background-color: #FFF;
        left: 0px;
        transition: opacity .10s, transform .5s;
   }
    .burger-menu:hover span {
        cursor: pointer;
        background-color: coral;
    }

    .burger-menu:hover {
        cursor: pointer;
   }

/* Полоски в бугрер меню */
    .burger-menu>span:nth-child(1){
        transform: translateY(-10px);
    }
        .burger-menu>span:nth-child(2){
    }
        .burger-menu>span:nth-child(3){
        transform: translateY(10px);
    }

/* Крестик */
        .header.open .burger-menu>span:nth-child(1){
        transform: translateY(0) rotate(45deg);
    }
        .header.open .burger-menu>span:nth-child(2){
        opacity: 0;
    }
        .header.open .burger-menu>span:nth-child(3){
        transform: translateY(0) rotate(-45deg);
    }
        .header.open .nav-header{
        transform: translateX(-100%);
        visibility: visible;
    }
/* сдвиг иконки и крестика при выдвижении бургер меню*/
       .header.open .icon-profile{
        margin: 0px 32px 0px 0px;
    }
        .header.open .burger-menu {
        margin: 0px -6px 0px 0px;
}
    .nav-list {
        display:block;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .burger-menu{
        display: block;
    }
    .brooclin-head{
        color: #FFF;
        font-family: Forum;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 166.667% */
        letter-spacing: 0.6px;
        margin: 22px auto 20px 0px;
    }
   .main-section>img{
        width: 768px;
        height: 600px;
    }
    .welcome-img-2 {
        display: block;
    }
    .welcome-img-1 {
        display: none;
    }
    .main-section {
    display:flex;
    background: none;
    }
.icon-profile {
        margin: 31px 40px 31px 40px;
    }
    .section-about{
        width: 768px;
    }
    .section-description{
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 200% */
        margin: 40px 40px 20px;
    }
    .slide-4, .slide-5, .prev, .next{
        display: flex;
    }
    
    /*создаем слайд-шоу*/
    .img-about {
        max-width: 768px;
        position: relative;
        margin: 0 auto;
        
    }
    .fade{
        margin: 0px 0px 0px 159px
    }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    padding: 16px;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0px 3px 3px 0px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
.next {
    right: 82px;
   
}
.prev {
    left: 82px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-direction: 1.5s;
    animation-name: fade;
    animation-name: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}



    .dots {
        margin: 20px 0px 0px 0px;
    }

    .dots-4-5 {
        display: flex;
        ;
    }

    


    .section-favorites{
        margin: 54px 0px 0px 0px;}
    .pick-div {
        margin: 2px 0px 0px 0px; 
    }
    .books{
        margin: 0px 0px 0px 90px;
    }
    .book{
        margin: 0px 0px 40px -1px;
    }
    .buy-oun{
        display: block;
    }
    .own{
        display: none;
    }
    .section-coffee{ 
        margin: 21px 0px 4px -2px;
    }
    .coffee-info {
        width: 728px;   
    }
    .Y {
        margin: 0px 0px 0px -1px;
    }
    .our{
        margin: 0px 0px 0px 8px;
    }
    .coffee-menu{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .drinks {
        margin: 0px 0px 0px 2px;
    }
    .deserts {
        margin: 0px 0px 20px 248px;
    }       
    .our-contacts{
        margin: 0px 0px 0px 1px;
    } 
    .contact-info{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .map {
        margin: 80px 0px 0px 15px;
    }
    .library-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -1px 0px 0px -18px;
      }  
    
    .get-card {
        align-items: center;
        text-align: center;
        margin: 22px 0px 0px 22px;
    }
    .get-info {
        width: 600px; 
        align-items: center;
        text-align: center;
        margin: 40px 0px 0px 0px;
    }
    .sign-log{
        margin: 5px 0px 0px -15px;
    }
    .sign{
    padding: 0px 2px 0px 0px;
    }
    .footer{
        display: flex;
        width: 768px;
        height: 250px;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    .info{
        margin: -45px 0px 0px -21px; 
    }
    .info-2{
        display: flex;
        width: 730px;
        justify-content: center;
        align-items: center;
        gap: 478px;
    }
    .info-1 {
        display: flex;
        width: 730px;
        justify-content: center;
        align-items: center;
        gap: 352px;
    }
    .footer-line {
    width: 728px;
    height: 1px;  
    }
    .rss{
    display: flex;
    width: 728px;
    justify-content: space-between;
    align-items: center;
    }
    .year{
    margin: 37px 0px 0px -18px;   
    }
    .rschool{
    margin: 37px 0px 0px 85px;
    }
    .name{
    padding: 0px 0px 0px 21px;
    }
 }
      
        






@media (max-width: 767px) {
    .page {width: 640px;
    }
}

@media (max-width: 640px) {
    .page {width: none;
    }
}